@font-face {
  font-family: 'Gputeks';
  src: local('Gputeks'), local('Gputeks Regular'),
  url(/fonts/gputeks_ex.eot);
}

@font-face {
  font-family: 'Gputeks';
  src: local('Gputeks'), local('Gputeks Regular'),
  url(/fonts/gputeks.ttf);
}

@font-face {
  font-family: 'Gputeks';
  font-weight: bold;
  src: local('Gputeks'), local('Gputeks Bold'), local('Gputeks-Bold'),
  url(/fonts/gputeks_bold_ex.eot);
}

@font-face {
  font-family: 'Gputeks';
  font-weight: bold;
  src: local('Gputeks'), local('Gputeks Bold'), local('Gputeks-Bold'),
  url(/fonts/gputeks_bold.ttf);
}