<footer id="main_footer">
  <div id="footer_content">
	<h6>
	  Powered by:
	</h6>
	  <p class="no_margin">nanoc</p>
	  <p class="no_margin">Disqus</p>
	  <p class="no_margin">Pygments</p>
	  <p class="no_margin">Boilerplate</p>
  </div>
</footer>
