<header id="main_header">
  <div id="header_inner">
	<a href="/"><img src="/img/header.png" alt="Albert Cervin" /></a>
	<nav>
	  <ul>
		<li><h1><a href="/">home</a></h1></li>
		<li><h1><a href="/about/">about</a></h1></li>
		<li><h1><a href="/portfolio/">portfolio</a></h1></li>
	  </ul>
	</nav>
  </div>
</header>
