
<section>
  <div id="twitter" class="box">

	<h4>Twitter</h4>

	<div id="tweets">
				
		<a class="twitter-timeline" width="290px"  href="https://twitter.com/albertcervin"  data-widget-id="391987500614299648">Tweets by @albertcervin</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>

  </div>
</section>

<section>
  <div class="box">
	<h4>Friends &amp; family</h4>

	<p><a href="http://nat0.se" rel="external">Nathalie</a></p>
	<p><a href="http://lucas.correia.se" rel="external">Lucas</a></p>	
	<p><a href="http://joelek.se" rel="external">Joel</a></p>
	<p><a href="http://danenglesson.com" rel="external">Dan</a></p>
	<p><a href="http://vulfsen.st" rel="external">Toms</a></p>
	<p><a href="http://ekikomori.blogspot.com" rel="external">Christoffer</a></p>
	 
  </div>
</section>
