
<section>
  <div id="twitter" class="gray box">

	<h4>Follow me on Twitter (<a rel="external" href="https://twitter.com/albertcervin">@albertcervin</a>)</h4>

	<div id="tweets">

	</div>

  </div>
</section>

<section>
  <div class="box">
	<h4>Friends &amp; family</h4>

	<p><a href="http://nat0.se" rel="external">Nathalie</a></p>
	<p><a href="http://lucas.correia.se" rel="external">Lucas</a></p>	
	<p><a href="http://joelek.se" rel="external">Joel</a></p>
	<p><a href="http://danenglesson.com" rel="external">Dan</a></p>
	<p><a href="http://vulfsen.st" rel="external">Toms</a></p>
	<p><a href="http://ekikomori.blogspot.com" rel="external">Christoffer</a></p>
	 
  </div>
</section>
